.container{
  text-align: center;
  padding: 40;
  margin-top: 5;
}
.form_1{
  text-align: center;
  display: flex;
  margin-top: 5;
}
button{background-color: rgb(100, 237, 100);}
table{text-align: center;}
table,th,td{
  border-collapse: collapse;

  border-bottom: #000 solid 1px; 
  text-align: center;
  padding: 8px;
}
.delete{
  background-color: red;
}